body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
}

.first-child {
    display: flex;
    flex: 1;
    margin-left: -10px;
    margin-top: -10px;
}

img {
    height: 100%;
    width: 100%;
}



.second-child  {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243, 0.4);
    flex: 2;
    width: 100%;
    height: 100%;
}

.formButtonLink {
    padding-left: 0px;
}

.signup {
    margin-top: 100px;
    margin-bottom: 40px;
    padding-left: 53px;
    font-size: 25px;
}

button {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(89, 109, 51, 1.0);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 60px;
    margin-top: 35px;
    margin-left: 47px;
    box-shadow: 1px 2px 3px 2px rgb(137, 137, 137, 0.3);
}

button:active {
    background-color: rgb(89, 109, 51, 0.8);
}

.letsDoThis {
    font-size: 25px;
    padding-top: 30px;
    font-weight: bold;
    padding-left: 20px;
}

/* "flex-direction: column" is how to put the text on top of the input boxes */
input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25px;
    width: 300px;
    margin-right: 75px;
    margin-bottom: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border-width: 1px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 2px 3px 2px rgb(137, 137, 137, 0.3);
}

#user_email:invalid, #phone_number:invalid {
    outline: none;
    border: 1px solid red;
}

#user_email:valid, #phone_number:valid {
    outline: none;
    border: 1px solid rgb(0, 164, 0);
}

.input_form {
    background-color: white;
    box-shadow: 0px 2px 2px 1px rgba(220, 220, 220, 0.5), 0px -2px 2px 1px rgba(220, 220, 220, 0.5);
    width: 100%;
    padding-right: 290px;
    padding-left: 30px;
}

.formButtonLink {
    padding-left: 0px;
    padding-right: 300px;
}

.input_child {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
}

.alreadyHaveAnAccount {
    margin-top: 30px;
    padding-left: 50px;
    padding-bottom: 600px;
}